body {
  padding-top: 50px;
}

.starter-template { /* main DIV */
  padding: 40px 15px;
  text-align: center;
}

textarea#plainHTML{ /* textarea box */
	width:70%;
	height:200px;
	margin: 10px auto;
	resize:vertical;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type="submit"]{ /* submit button */
	display:block;
	margin:50px auto;
}